<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of banks</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        .bank-item {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .bank-name {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .card-count {
            font-size: 16px;
            color: #555;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>List of Banks</h1>
        {% if banks and banks | length > 0 %}
            {% for bank in banks %}
                <div class="bank-item">
                    <div class="bank-name">
                        <a href="/banks/{{ bank.name | urlize }}">{{ bank.name if bank.name else "Unnamed Bank" }}</a>
                    </div>
                    <div class="card-count">Number of cards: {{ bank.cards | length }}</div>
                </div>
            {% endfor %}
        {% else %}
            <div>No banks available.</div>
        {% endif %}

         <button class="positive_button" onclick="redirectToBanks()" style="margin-top: 20px">
             Create new bank
         </button>
    </div>
    <script>
        function redirectToBanks() {
            window.location.href = '/banks/create';
        }
    </script>
</body>
</html>
