body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    padding: 50px;
}

html {
    display: table;
    margin: auto;
}

div[class="container"] {
    display: table-cell;
    padding: 20px;
    horiz-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table{
	border: 1px solid #eee;
	width: 100%;
	margin-bottom: 20px;
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: left;
}
table tbody tr:nth-child(odd){
	background: #F7F7F7;
}
table tbody tr:nth-child(even){
	background: #fff;
}

button {
    padding: 10px 15px;
    background-color: #AAAAAA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #666666;
}

button[class="positive_button"] {
    background-color: #4CAF50;
    color: white;
}
button[class="positive_button"]:hover {
    background-color: #45a049;
}

button[class="negative_button"] {
    background-color: #e53030;
    color: white;
}
button[class="negative_button"]:hover {
    background-color: #802010;
}

textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
